html, body {
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

html{
    background-color: #083045;
}
/*Bakgrunds bilder*/
.parallax {
    width: 100%;
    height: 100%;
    background-image: url('../img/mountain1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax2 {
    width: 100%;
    height: 50%;
    background-image: url('../img/brushes.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax3 {
    width: 100%;
    height: 50%;
    background-image: url('../img/workspace.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax4 {
    width: 100%;
    height: 50%;
    background-image: url('../img/brushes2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundClass {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(70%) blur(2px);
}

.knappStil {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;

    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    
    color: #eed369;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    text-align: center;
    border: 2px solid #eed369;
    padding: 1% 1%;
    margin-left: auto;
    margin-right: auto;
    transition: .25s;
}

.knappStil:hover {
    cursor: pointer;
    background: #0c4766;
    transition: .25s;
    border-radius: 25px;
}

.navBar {
    height: 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /*background-color: #083045;*/
    color: white;
    opacity: 85%;
    z-index: 1000;
}

.navField {
    display: flex;
    
}

.logo {
    display: flex;
    margin-left: 50%;
}

.logo:hover {
    cursor: pointer;
    opacity: .75;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #062738;
}

::-webkit-scrollbar-thumb {
    background-color: #0c4766;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0a3349;
}

.greeting {
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 175%;
    
    color: #eed369;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    text-align: center;
    padding-top: 17%;
}

.greetingSubtext {
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;
    
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    text-align: center;
    padding-top: 1%;
}

.greetingBoka {
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    
    color: #eed369;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    text-align: center;
    margin-top: 2%;
    border: 2px solid #eed369;
    width: fit-content;
    padding: 1% 1%;
    margin-left: auto;
    margin-right: auto;
    transition: .25s;
}

.greetingBoka:hover {
    cursor: pointer;
    background: #0c4766;
    transition: .25s;
    border-radius: 25px;
}



.p1 {
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;
    cursor: pointer;
    padding-right: 2rem;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.p1:hover {
    color: #eed369;
    transition: 0.2s;
}

.p2 {
    line-height: 150%;
    width: 100%;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 175%;
    color: #eed369;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.p3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 125%;
    color: white;
    line-height: 150%;
    font-weight: 400;
    padding: 0 15%;
    margin-right: auto;
    margin-left: auto;
}

.hamburgerMenu {
    display: none;
    float: right;
    margin-right: 40%;
}

@media (max-width: 480px) {
    .p2 {
        font-size: 90%;
    }

    .p3 {
        font-size: 90%;
        padding: 0 5%;
    }
    .navField {
        display: none;
    }
    .hamburgerMenu {
        display: block;
    }
    .greetingBoka {
        margin-top: 50%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .navField {
        display: none;
    }
    .hamburgerMenu {
        display: block;
    }
    .greetingBoka {
        margin-top: 50%;
    }
}

@media (min-width: 2000px) {
    .p2 {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .p3 {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}

.greetPage1 {
    display: inline;
    background-color: #083045;
}

.img {
    max-width: 100%;
    width: 100%;
}
